lib/cp/cpt.bzip2_graphic.1000000000/system.physmem.physmem
lib/cp/cpt.wupwise.1000000000/system.physmem.physmem
lib/cp/cpt.applu.1000000000/system.physmem.physmem
lib/cp/cpt.swim.1000000000/system.physmem.physmem